<div class="contentSection" *ngFor="let userList of userInfo">
  <div class="postInfoSet">
    <div class="postInfoHead">
      <div class="postProfilePic">
        <img src="{{ userList.profileImage }}" />
      </div>
      <div class="postNameInfoSet">
        <div class="postUserName">{{ userList.name }}</div>
        <div class="postUpdateTime">{{ userList.postTime }}</div>
      </div>
    </div>
    <div class="postType">
      <div *ngIf="userList.postTypeImg;then imageDiv else contentDiv"></div>
      <ng-template #imageDiv>
          <div class="postTypeImg"><img src="{{ userList.postTypeImg }}"></div>
      </ng-template>
      <ng-template #contentDiv>
          <div class="postTypeContent">{{ userList.postTypeContent}}</div>
      </ng-template>
    </div>
    <div class="commentReplySet">
      <ul>
        <li *ngFor="let postMess of userList.postComments">
          <div class="replyUserPicandMessageSet">
            <div class="replyUserPic"><img src="{{postMess.commentUserPic}}"></div>
            <div class="replyUserMessage">{{postMess.Comment}}</div>
          </div>
          <ul>
            <li *ngFor="let postMessReply of postMess.reply">
              <div class="replyUserPicandMessageSet">
                <div class="replyUserPic"><img src="{{postMessReply.replyUserPhoto}}"></div>
                <div class="replyUserMessage"><span class="replyNameBold">{{postMessReply.replyUserName}} </span> {{postMessReply.replyUser}}</div>
              </div>
            </li>
            <input class="postComment" placeholder="Type your comment" />
          </ul>
        </li>
      </ul>
    </div>
    <input class="postComment" placeholder="Type your comment" />
  </div>
</div>
 <!-- <div class="postComment" *ngFor="let userPic of userList.postComments">{{userPic.Comment}}
      <div *ngFor="let reply of userPic.reply">{{reply.replyUser}}</div>

    </div> -->
     <!-- <div class="postProfilePic" *ngFor="let userPic of userList.postComments"><img src="{{userPic.profileImage}}"></div> -->
